/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    font-family:'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.05em;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,h2,h3{
	line-height: 1.2;
	font-weight: 700;
}

p,li{
	line-height: 1.5;
	font-weight: 400;
	color: #212529;
}

.container{
	max-width: 1920px;
	margin: 0 auto;
}

.header{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true) no-repeat;
	background-size: cover;
}

.header_content{
	text-align: center;
}

.heading2{
	font-size: 24px;
}

.header_title{
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
}

.header_title_en{
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 28px;
}

.main{
	padding: 64px 40px;
}

.slogan{
	margin: 0 auto;
	max-width: 856px;
	text-align: center;
	padding: 32px;
	background: #F5FEE7;
}

.highlight{
	font-size: 20px;
	color: #57A203;
}

.about{
	margin: 0 auto;
	max-width: 1076px;
}

.about img{
	width: 100%;
}

.about_content{
	margin: 0 auto;
	max-width: 856px;
	border-bottom: 1px solid #DEE2E6;
}

.history{
	margin: 0 auto;
	max-width: 856px;
}

.history_content{
	border-bottom: 1px solid #DEE2E6;
}

.history_list{
	list-style-type: disc;
	list-style-position: inside;
	text-indent: 0.5em;
}

.history_content .history_list::marker{
	font-size: 10px;
}

.spirit{
	max-width: 856px;
	margin: 0 auto;
}

.spirit_list{
	border-left: 3px solid #DEE2E6;
	padding-left: 12px;
}

.spirit_content{
	border-bottom: 1px solid #DEE2E6;
}

.story{
	margin: 0 auto;
	max-width: 856px;
	border-bottom: 1px solid #DEE2E6;
}

.story_list{
	height: 44px;
	display: flex;
	align-items: center;     /* 垂直置中 */
}

.arrow{
	margin: 2.5px;
	color: #57A203;
}

.story_text_link{
	padding-bottom: 4px;
	border-bottom: 1px solid #57A203;
	text-decoration: none;
	color: #57A203;
	margin-left: 8px;
}

.footer{
	background: #F8F9FA;
}

.copyright{
	text-align: center;
}

.mg-b_4px{
	margin-bottom: 4px;
}

.mg-b_12px{
	margin-bottom: 12px;
}

.mg-b_16px{
	margin-bottom: 16px;
}

.mg-b_24px{
	margin-bottom: 24px;
}

.mg-b_48px{
	margin-bottom: 48px;
}

.pd-b_48px{
	padding-bottom: 48px;
}

.pd-tb_64px{
	padding: 64px 0;
}
